# STANDART
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl
.terragrunt-cache/
*.tfvars
terraform.tfvars

# MY
#*.tfvars
node_modules
*.pem
terraform.exed
.env
.env.*
!.env.example
*.pfx
*.key
*.crt
*.arm
*.base64
.terraform
azure_rsa
oracle_rsa
vars.yml
**/tf-tmp/*
temp.txt