[Unit]
Description=Jenkins Agent
After=network.target

[Service]
User={{ jenkins_agent_user }}
WorkingDirectory={{ jenkins_agent_workdir }}
ExecStart=/usr/bin/java -jar agent.jar -url {{ jenkins_master_url }} -secret {{ jenkins_agent_secret }} -name "{{ jenkins_agent_name }}" -webSocket -workDir "{{ jenkins_agent_workdir }}"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target